body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #f3f5fc;
    font-family: 'Inter';
}

.banner{
    position: absolute;
    inset: 3% 0 3% 3%;
    width: 10%;
    height: auto;
}

.text-to-encrypt{
    position: absolute;
    top: 3%;
    bottom: 3%;
    left: 15%;
    right:  0;
    width: 55%;
    height: auto;
    display: flex;
    flex-direction: column;

}

.result{
    position: absolute;
    top: 3%;
    bottom: 3%;
    left: 72%;
    right: 0;
    
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;

    background: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.2);

}

.banner svg{
    display: block;
    margin: 2% auto;
    width: 90%;
}

.textarea-encrypt{
    height: 85%;
    margin-bottom: auto;
}
.textarea-encrypt textarea{
    display: block;
    width: 90%;
    height: 80%;
    margin: 10% auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 5vh;
    line-height: 150%;
    color: #0A3871;
    outline: none;
    border: none;
    resize: none;
    background: #f3f5fc;

}

textarea::placeholder{
    color: #0A3871;
}

.alert-container{
    width: 90%;
    height: 5%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 5px;
}

.buttons-container{
    height: 10%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}

.buttons-container > button{
    width: 48%;
    height: 6.5vh;
    background: #D8DFE8;
}

.result-container{
    height: 90%;
}
.result-container textarea{
    display: block;
    width: 90%;
    height: 80%;
    margin: 5% auto;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 3vh;
    line-height: 150%;
    color: #495057;
    outline: none;
    border: none;
    resize: none;
    text-transform: uppercase;
}

.msj-container{
    height: 88%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.msj-container img{
    width: 80%;
}
.msj-container h2, p{
    text-align: center;
}

.btn-copy-container{
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.btn-copy-container > button {
    width: 90%;
    height: 6.5vh;
    background: #FFFFFF;
}

button{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2vh;
    line-height: 19px;
    text-align: center;
    border: 1px solid #0A3871;
    border-radius: 14px;
}

button:hover{
    background: #0A3871;
    color: #f3f5fc;
}


/*Responsive design Tablet*/
@media screen and (max-width: 900px){
    .banner{
        position: static;
        width: 90%;
        height: 10vh;
        margin: 2vh auto;
    }

    .banner svg{
        display: inline-block;
        width: 20%;
    }
    

    .text-to-encrypt{
        position: static;
        width: 90%;
        height: 65vh;
        margin: 0 auto 5vh auto;
        
    }

    .result{
        position: static;
        width: 90%;
        height: 35vh;
        margin: 0 auto 5vh auto;
    }

    .textarea-encrypt textarea, .alert-container, .buttons-container{
        width: 99%;
    }

    .textarea-encrypt textarea{
        font-size: 3vh;
    }

    .buttons-container button{
        height: 5vh;
        font-size: 2vh;
    }

    .result-container{
        height: 90%;
    }
    .result-container textarea{
        font-size: 2vh;
    }
    .msj-container img {
        display: none;
    }

    .btn-copy-container{
        height: 20%;
    }
    .btn-copy-container  > button{
        height: 5vh;
        font-size: 2vh;
    }
   
}

/*Responsive design phone*/
@media screen  and (max-width: 721px){

    .textarea-encrypt{
        height: 60%;
        margin: 0;
    }
    .textarea-encrypt textarea{
        height: 95%;
        font-size: 3vh;
    }

    .alert-container{
        margin-top: 10%;

    }
    .buttons-container{
        height: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .buttons-container button{
        width: 99%;
        height: 6vh;
    }

    .result{
        height: 40vh;
    }

    .result-container{
        display: flex;
        height: 75%;
        margin-bottom: 2%;
    }

    .result-container textarea{
        width: 80%;
    }

    .msj-container{
        display: none;
    }
    .msj-container >h2 >p{
        font-size: 5vw;
    }

    .btn-copy-container{
        display: flex;
        height: 20%;
    }
    .btn-copy-container button{
        width: 80%;
        height: 6vh;
    }
}

.hide {
    
    display: none;
}

.unhide {
    display: flex;
}